<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    {% load static %}
    <a href="{% static 'portfolio/2-enhanced.pdf' %}" target="_blank" >Умножалка</a>
    <h1>This is Portfolio Project Home Page</h1>
    <img src="{% static 'portfolio/teatron.jpg' %}" width=800 height=600 alt="">
    <br>
    {% for project in  projects %}
        <br>
        {{project.title}}
        <br>
        {{project.description}}
        <br>
        <img src="{{project.image.url}}" width="120" height="160" alt="">
    
        {% if project.url %}
        <br>
        <a href="{{project.url}}">Link</a>
        {% endif %}
        
    {% endfor %}
</body>
</html>